<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/brand.css">
<!--加载头部 -->
{include file="common/head"}
<div class="container border brand">
	<div class="row border">
		<div class="col-lg-6 border">
			<img src="__STATIC__/home/images/brand/cocovel_logo.png" class="logo_img margin_left_100">
			<div class="row">
				<ul class="margin_left_100">
					<li>香芬</li>
					<li>身体护理</li>
					<li>香氛</li>
					</ul>
			</div>
			<div class="row">
				<ul class="margin_left_100">
					<li class="clear">头发护理</li>
				</ul>
			</div>
			<div class="row">
				<img src="__STATIC__/home/images/brand/homepage.png" class="icon_img margin_left_100">
				<img src="__STATIC__/home/images/brand/homepage2.png" class="icon_img">
			</div>
		</div>
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/cocovel.png"></a>
		</div>
	</div>
	<div class="row border">
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/martin.png"></a>
		</div>
		<div class="col-lg-6 border">
			<img src="__STATIC__/home/images/brand/cocovel_logo.png" class="logo_img margin_left_100">
			<div class="row">
				<ul class="margin_left_100">
					<li>香芬</li>
					<li>身体护理</li>
					<li>香氛</li>
					</ul>
			</div>
			<div class="row">
				<ul class="margin_left_100">
					<li class="clear">头发护理</li>
				</ul>
			</div>
			<div class="row">
				<img src="__STATIC__/home/images/brand/homepage.png" class="icon_img margin_left_100">
				<img src="__STATIC__/home/images/brand/homepage2.png" class="icon_img">
			</div>
		</div>
	</div>
	<div class="row border">
		<div class="col-lg-6 border"></div>
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/qr.png"></a>
		</div>
	</div>
	<div class="row border">
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/barber.png"></a>
		</div>
		<div class="col-lg-6 border"></div>
	</div>
	<div class="row border">
		<div class="col-lg-6 border"></div>
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/mzt.png"></a>
		</div>
	</div>
	<div class="row border">
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/hof.png"></a>
		</div>
		<div class="col-lg-6 border"></div>
	</div>
	<div class="row border">
		<div class="col-lg-6 border"></div>
		<div class="col-lg-6 border">
			<a href=""><img src="__STATIC__/home/images/brand/hof.png"></a>
		</div>
	</div>
</div>