<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/about.css">
{include file="common/head"}
<div class="container-fluid border">
	<div class="row title">
		关于怡宝
	</div>
	<div class="row border flex">
		<div class="col-lg-1"></div>
		<div class="col-lg-4 f1 border">
			上海怡宝化妆品有限公司是一家专业从事日化产业集产品研发、生产、销售和服务一体化的企业。
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-6 border"><a href=""><img src="__STATIC__/home/images/about/Group.png"></a>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<div class="row border f2">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">2013年在上海成立，旗下拥COCOVEL、MARTIN、清柔、理发师、满芝堂、康牌、百贝宝等多个消费品细分领域知名品牌，产品覆盖香氛、洗护发、护肤、美妆、婴儿护理产品和家居护理等多个领域。</div>
		<div class="col-lg-3"></div>
	</div>
	<div class="row border">
		<div class="col-lg-4"><a href=""><img src="__STATIC__/home/images/about/Rectangle1.png"></a></div>
		<div class="col-lg-4"><a href=""><img src="__STATIC__/home/images/about/Rectangle2.png"></a></div>
		<div class="col-lg-4"><a href=""><img src="__STATIC__/home/images/about/Rectangle3.png"></a></div>
	</div>
	<div class="row border title">
		核心理念
	</div>
	<div class="row flex">
		<div class="col-lg-6"><a href=""><img src="__STATIC__/home/images/about/Group2.png"></a></div>
		<div class="col-lg-6 right">
			<p class="p1">怡宝使命</p>
			<p class="p2">让生活更美好</p>
		</div>
	</div>
	<div class="row flex">
		<div class="col-lg-6 right">
			<p class="p1">怡宝愿景</p>
			<p class="p2">成为并被公认为<br>提供世界一流消费品和服务的公司</p>
		</div>
		<div class="col-lg-6"><a href=""><img src="__STATIC__/home/images/about/Group3.png"></a></div>
	</div>
	<div class="row flex">
		<div class="col-lg-6"><a href=""><img src="__STATIC__/home/images/about/Group4.png"></a></div>
		<div class="col-lg-6 right">
			<p class="p1">业务布局</p>
			<p class="p2">怡宝集团自成立初期就细分消费品行业深耕细分领域，将每个细分行业精细化操作培养孵化了一批优秀的品牌。其中COCOVEL、马丁等品牌已经成为该行业中的佼佼者</p>
		</div>
	</div>
	<div class="row border title">
		发展历程
	</div>
	<div class="row border pro flex">
		<div class="col-lg-2 border"></div>
		<div class="col-lg-2 time border">2016.11</div>
		<div class="col-lg-1 border"></div>
		<div class="col-lg-6 progress1 border">COCOVEL当天实现了第一个“单天千万销售额”目标，突破重围杀进天猫美发护发类用品前五。</div>
	</div>
	<div class="row border pro flex">
		<div class="col-lg-2"></div>
		<div class="col-lg-2 time">2016.5</div>
		<div class="col-lg-1 border"></div>
		<div class="col-lg-6 progress1">在第21届中国美容博览会在上海召开之际，
来自欧洲香氛品牌COCOVEL受邀参加，正式亮相上海美博会。</div>
	</div>
	<div class="row border pro flex">
		<div class="col-lg-2"></div>
		<div class="col-lg-2 time">2015.9</div>
		<div class="col-lg-1 border"></div>
		<div class="col-lg-6 progress1">“清柔”品牌成立，
清柔深谙秀发补水之道，产品突破性的洗护配方,
专门针对头发干枯、毛躁、分叉等问题,给每寸发丝源源不断的水润呵护。</div>
	</div>
	<div class="row border pro flex">
		<div class="col-lg-2"></div>
		<div class="col-lg-2 time">2014.3</div>
		<div class="col-lg-1 border"></div>
		<div class="col-lg-6 progress1">满芝堂”在江苏昆山注册商标正式成立，
“满芝堂”曾是清朝时期最负盛名的外科药铺老字号，
尤其是在肌肤除螨方面，拥有17项国家专利技术，并研发出完整
一套除螨产品，涵盖脸部除螨、身体除螨、衣物除螨、环境除螨、宠物除螨、食品除螨等，“要想美，先除螨”，“满芝堂”除螨产品已成为这个行业的标杆。</div>
	</div>
</div>