<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{$list.keyword}">
    <meta name="description" content="{$list.desc}">
    <title>{$list.title}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/head.css">
    <script type="text/javascript" src="__STATIC__/home/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/home/js/head.js"></script>
	<link rel="icon" type="image/ico" href="__STATIC__/uploads/{$list.img}">
  <style type="text/css">
      .border{
        border: 1px solid red;
      }
  </style>
  <header class="yjf_1">
    <div class="item_show"><img src="__STATIC__/home/images/head/navbar.png"></div>
    <div class="head_mid">
        <div class="logo">
            <a href="{:url('index/index')}"><img src="__STATIC__/home/images/head/logo.png"></a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="">联系我们</a></li>
            <li><a href="">职业生涯</a></li>
            <li><a href="{:url('about/about')}">关于我们</a></li>
            <li><a href="{:url('news/news')}">新闻</a></li>
            <li><a href="{:url('brand/brand')}">旗下品牌</a></li>
          </ul>
        </div>
    </div>
    <div class="hide_item">
      <ul class="pick_item">
        <li><a href="#">时装秀<span class="close_item">X</span></a></li>
        <li><a href="#">女士</a></li>
        <li><a href="#">男士</a></li>
        <li><a href="#">珠宝和腕表</a></li>
        <li><a href="#">家饰</a></li>
        <li><a href="#">礼品</a></li>
        <li><a href="#">古驰故事</a></li>
      </ul> 
  </header>
</head>
<body>